@use "reset";
@use "variables";

body {
  background: var(--app-bg-color);
  color: var(--primary-color);
  font: var(--font-l);
}

.wrapper {
  background: var(--app-bg-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 100%;
  width: 1046px;
  display: flex;
}

.AuthPage {
  display: flex;
  flex-direction: column;
}

.page {
  flex-grow: 1;
}
