.ProfileCard {
  display: flex;
  flex-direction: column;
}

.cover {
  height: 100px;
  width: 100%;
  background: var(--highlight-color);
}

.info {
  padding: 8px;
}

.name {
  font-weight: bold;
}

.username {
  color: var(--secondary-color);
}

.bio {
  font: var(--font-m);
}